.container {
    padding: 10px;
    box-shadow:
            0 10px 30px rgba(0, 0, 0, 0.6),
            0 1px 0 rgba(255, 255, 255, 0.06);


}

.languages_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.language_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 25px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icon_container {
    max-width: 120px;
    max-height: 120px;
}

.subheader {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .language_row > * {
        flex: 0 1 calc(50% - 15px); /* two per row */
    }
}
