:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #E0E0E0;
  background-color: #121212;
  --nav-height: 60px;
  color-scheme: dark;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
}

header {
  text-align: center;
  padding: 1rem;
  line-height: 1.5;
}

header hr {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
