.homeLayout {
    padding-left: 20px;
    padding-right: 20px;
}

.tech_stack {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.toggleWrapper {
    position: sticky;
    top: var(--nav-height);
    margin-top: 10px;
    z-index: 5;
    background: #121212;
}

.sectionTopAnchor {
    height: 1px;
    scroll-margin-top: 140px; /* tweak based on navbar + toggle */
}
