nav {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #017C70;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.link {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    color: #E0E0E0;
}

.link:hover {
    background-color: #02C1AE;
    cursor: pointer;
}

.active {
    border-bottom-color: #ffffff;
}
