.experienceSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding: 2rem;
}

.roleContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.roleTitle {
    margin-bottom: 0.2rem;
}

.roleContent {
    width: 100%;
    display: block;
    text-align: left;
    max-width: 70ch;
    margin-right: auto;
    margin-left: 0;
    min-width: 0;
}


.roleBullets {
    list-style: disc outside;
    padding-left: 1.25rem;
    margin: 0.75rem 0 0;
    text-align: left;
}

.roleBullets li {
    text-align: left;
    margin: 0.35rem 0;
    width: 100%;
}

.roleDetailsHr {
    width: 100%;
    margin: 0.75rem 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.18);
}


.roleHr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.companyDivider {
    margin-bottom: 0.5rem;
}


@media (max-width: 768px) {
    .experienceSection {
        padding: 1rem;
    }
}