#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.headerWrapper {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #121212;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}